* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  font-weight: 800;
  background-color: rgb(233, 215, 195);
  overflow: scroll;
}

body::-webkit-scrollbar {
  overflow-y: hidden;
}

.cart-title {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

a {
  text-decoration: none;
}

.cart-container {
  text-align: center;

  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
}

.cart-item-details {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.cart-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 50px;
  padding: 20px;
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-name{
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  letter-spacing: 1px;
 
}

.payment-page {
  padding: 20px;
  margin-top: 2rem;
  background-color: blue;
}
.payment-page h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.cart-item {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 10px 5px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.cart-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 2rem;
  align-items: center;
  padding: 5px;
  
}
.cart-summary p{
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
  
}
.quantity {
  display: flex;
  color: blue;
  gap: 1rem;
  align-items: center;
  margin-top: 20px;
}

.minus,
.plus {
  font-size: 0.8rem; /* Slightly larger for better visibility */
  padding: 5px 10px; /* Comfortable padding */
  color: #333; /* Dark gray for a modern look */
  cursor: pointer;
  border: 2px solid #333; /* Prominent outline */ /* Light background for contrast */
  border-radius: 25px; /* Rounded corners for a modern look */
  background-color: #fff; 
}

.updated-quantity {
  font-size: 1.2rem; 
  padding: 5px 10px; 
  color: #555; 
  font-weight: 500;
  border-radius: 8px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  border: 2px solid #ccc; 
  background-color: #fff; 
  text-align: center; 
}

.cart-item-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.remove-item {
  border: none;
  background-color: red;
  font-size: 0.9rem;
  padding: 10px 15px;
  color: white;
  font-weight: 700;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
}

.cart-checkout-button {
  border: none;
  background-color: red;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 8px;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
}

@media (max-width: 540px) {
  .cart-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  .payment-page {
    margin-left: 1rem;
  }
  .cart-items-container{
    max-width: 80%;

  }
}
